/*NAV CONTENT */

* {
    box-sizing: border-box;
}
  @font-face {
    font-family: Karla-VariableFont;
    src: url('font/Karla-VariableFont_wght.ttf');
  }
  @font-face {
    font-family: PublicPixel;
    src: url('font/PublicPixel-z84yD.ttf');
  }


  @keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translateX(0px);
    }
   }
   @keyframes drop-in-from-right {
    from {
     opacity: 0;
     transform: translateX(100vw);
    }
    to {
     opacity: 1;
     transform: translateX(0px);
    }
   }
   @keyframes drop-in-from-left {
    from {
     opacity: 0;
     transform: translateX(-100vh);
    }
    to {
     opacity: 1;
     transform: translateX(0px);
    }
   }
   .drop-in-from-right {
    animation:  drop-in-from-right 2s ease 800ms backwards;
   }
   .drop-in-from-left {
    animation:  drop-in-from-left 2s ease 800ms backwards;
    overflow: hidden;
   }
   .changeColor {
    background-color: #1f4c29 !important; 
    transition: background-color 2s ease 1s;
    opacity: 1; 
   }
 html {
   overflow-x: hidden;
   overflow-y: scroll;
 }
body {
   background-color: #0A192F;
   color: white;
   font-family: Karla-VariableFont;
    overflow-x: hidden;
}
  a {
    text-decoration: none;
    color: white;
}
.flex-class {
    display: flex;
    flex-direction: column;
    align-items: center

}
#navBar {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100vw;
  z-index: 999;
}


#logo {
  
    display: flex;
    margin-left: 3vw;
    align-items: center;
    font-size: 2rem;
    color: #4FCAB6;
    padding: 1vh 1vw;
    border: 1px solid #4f93ca;
    border-radius: 30px;
    white-space: nowrap;
    font-weight: bold;
    text-decoration: line-through;
    text-shadow: 2px 2px red;
    box-shadow: 1px 1px 15px lightblue;
    cursor: pointer;
    animation: drop-in 0.7s ease 100ms backwards;
    animation-iteration-count: 1;
}
#logo:hover {
   
    box-shadow: 1px 1px 25px lightblue;
    
}
#list  {
    list-style-type: none;
    display: flex;
    flex-direction: row-reverse;
    font-weight: 500;
    font-size: 1rem;
    position: relative;
    white-space: nowrap;
}
  #list  > li  {
    margin: 0 1vw;
    cursor: pointer;
    padding: 1vh 1vw;
   animation: drop-in 0.7s ease 100ms backwards;
   animation-iteration-count: 1;
   font-weight: bold;
  
}
#list > li:hover  {
    color:#4FCAB6;
    opacity: 0.8;
    
 }
 .hiddenBlock {
    display: none;
    opacity: 0;
    position: absolute;
    top: 11vh;
    right: 10vw;
    box-shadow: 1px 1px 25px lightblue;
    background-color: #0A192F;
    z-index: 999;

}


.hiddenAbouteMe ul li {
    cursor: default;
    white-space: wrap;
    list-style-type:decimal-leading-zero;
    padding: 2vw;

}


.hiddenContact {

    flex-direction: column;
    font-size: 1.25rem;
  
}

 .hiddenContact  div a {
    color:#a20606;
    

}
.hiddenContact  div a:hover {
    color:#eb0909;
    

}




.hiddenProject img {
  width: 14vw;
}
.hiddenProject  >  .projects > .projectContainer {
  width: 17vw;
  margin: 0 5vw;
}
.hiddenProject > .projects > .projectContainer > a {
  width: 27vw;
  text-wrap: wrap;
}
.hiddenProject  {
  flex-direction: column;

} 
.hiddenProject h4 {
  font-size: 1.5rem;
}

@keyframes spreadingElement {
    from    {
        max-height: 0;
    }
    to {
        max-height: 100vh;
        min-height: 1vh;
    }
    
}
.showContent{
    display: flex;
    opacity: 1;
    align-items: flex-start;
    min-width: 30vw;
    animation: spreadingElement 0.8s ease forwards ;
   
}
.showContent div, h4{
  
  margin: 1vh 1vw;
  display: flex;
}
.showContent  > h4 {
  align-self: center;
  padding: 1vh;
  border-bottom: 1px solid  white;
  
}  
.showContent > div > div > img {
  margin: 0 1vw 0 0;
}


/*NAV CONTENT END*/

/*ARTICLE CONTENT*/

#mainInformation {
    margin: 15vh 9vw;
    white-space: nowrap;
    
}
 #mainInformation, h3, h2, h1 {
    text-align: left;

   
}
#mainContent h3  {
   font-size: 1.5rem;
   color:lightblue;
   
}
#mainContent h1 {
    font-size: 5rem;
    margin: 1rem 0 1rem 0 ;
    color: rgba(255, 255, 255, 0.847);
    color:#c7d8e7
}
#mainContent h2 {
    font-size: 3.5rem;
    margin: 1rem 0 0 0  ;
    color: rgba(240, 248, 255, 0.713);
    opacity: 0.7;
}
#subContent {
   
    font-size:1rem;
    padding: 0 0 1vh 0 ;
    border-bottom: 5px solid white;
    width: 100vw;
    transition: all 0.3s ease-in-out;
  
}
@keyframes typing {
    from{
        width: 0;
        opacity: 0.2;
    }
    to{
        min-width: 75vw;
        width: 100vw;
        opacity: 0.7;
    }
} 
.paragraphText {
    display: none;
}
.typingAnimation{
    animation: typing 3s steps(80, end)  400ms forwards 1;
    overflow: hidden;
   
    width: 0;
    display: block;
  
}
#subContent p {
    padding: 0.5vh 0;
    opacity: 0.7;
    font-weight: bold;
  

}

.projects {
  display: grid;
  grid-template-columns: auto auto ;
  justify-items: center;
  justify-content: center;
  

}
article > .projects {
 
  overflow: hidden;
  padding: 2vw 0 2vw 0;

} 
article > .projects > .projectContainer
{
  display: none;
}
.projectContainer{
  display: flex;
  width: 30vw;
  flex-direction: column;
  align-items: center;
  text-align: center;

}
.projectContainer p {
  text-align: center;
  font-weight: bold;
}
 article > .projects > .projectContainer > a {
  display: block;
  padding: 2vw 0 2vw 0;
 }
.shortDescription{
  display: block;
  background-color: #0d2549;
  line-height: 18px;
  box-shadow: 0px 00px 7px -4px rgb(255, 255, 255);
  border-radius: 10px;
  padding: 20px 0 20px 0;
  font-size: 0.8rem;
  color: #c7d8e7;;
  padding: 3vh 3vw;
}

#contactInformation {
  margin: 10vh 10vw;
}
#boxContainer {
  flex-direction: row;
  display: grid;
  grid-template-columns: auto auto auto auto;
}

#contactInformation a:hover{
  color: white;
  color: rgba(240, 248, 255, 0.714);
}
.benefitsBox {
  display: none;
  background-color: rgb(61, 81, 239);
  border: 1px solid black;
  margin: 1vh 1vw;
  height: 300px;
  width:23vw;
  overflow: hidden;
  box-shadow: 0px 0px 8px -4px rgb(255, 255, 255);
}
.benefitsBoxText {
  padding: 0 1vw;
}
.benefitsBoxImg{
  width: 25px;
  margin: 1vh 1vw;
  height: 25px;
}

/*ARTICLE CONTENT END*/
@media only screen and (max-width: 1025px) {
 
  
  article > .projects > .projectContainer > a > img {
    width: 28vw;
  }
  article > .projects {
    height: auto;
    gap: 10vw;
    
  
  } 
}
@media only screen and (max-width: 818px) {
    /*NAV CONTENT */
    #list {
        font-size: 0.8rem;
    }
    .showContent {
        font-size:0.7rem;
    }
    #logo {
        font-size: 1.25rem;
        box-shadow: 1px 1px 7px lightblue;
    }
    .showContent > h4 {
      font-size: 0.8rem;
    }
    /*NAV CONTENT END */
    /*ARTICLE CONTENT */
    #mainContent h3{
        font-size:1rem;
      }
    #mainContent h1 {
      font-size:3.5rem;
    }
    #mainContent h2{
        font-size:2rem;
      }
    #subContent{
        font-size:0.6rem;
        border-bottom: 2px solid white;

      }
      article > .projects > .projectContainer > a > p {
        font-size: 0.7rem;
      }
      #boxContainer {
        grid-template-columns: auto auto;
        column-gap:15vw;
        row-gap:10vw;
        
      }
      .benefitsBox {
        font-size: 0.8rem;
        width:38vw;
        height: 170px;
      } 
   /*ARTICLE CONTENT END*/
  }
  @media only screen and (max-width: 512px) {

      /*NAV CONTENT */
    #logo {
        font-size: 1rem;
        box-shadow: 1px 1px 3px lightblue;
    }
    #list,.showContent{
        font-size: 0.5rem;
    }
   .hiddenContact img {
        width: 10px;
        height: 10px;
    }
    .showContent > h4 {
      font-size: 0.6rem;
    }
    /*NAV CONTENT END */

    
      /*ARTICLE CONTENT */
      #mainContent h3{
        font-size:1rem;
      }
    #mainContent h1 {
      font-size:2.5rem;
    }
    #mainContent h2{
        font-size:1.5rem;
      }
    #subContent{
        font-size:0.5rem;
        border-bottom: 1px solid white;

      }
      .benefitsBox {
        font-size: 0.7rem;
    
      } 
   /*ARTICLE CONTENT END*/
}

@media only screen and (max-width: 427px) {
  /*NAV CONTENT */

  /*NAV CONTENT END */
  /*ARTICLE CONTENT END */
    article > .projects {
    grid-template-columns: auto;

    }
    .shortDescription{
   
      width: 75vw;
    }
    article > .projects > .projectContainer > a > img {
      width: 50vw;
    }
    #mainContent h3{
        font-size:0.8rem;
      }
    #mainContent h1 {
      font-size:1.8rem;
    }
    #mainContent h2{
        font-size:1.2rem;
      }
  
  #subContent{
      font-size:0.4rem;
      border-bottom: 1px solid white;

    }

    .benefitsBox {
      font-size: 0.6rem;
  
    } 
    
 /*ARTICLE CONTENT END*/
}


@media only screen and (max-width: 348px) {
    /*ARTICLE CONTENT */
    #mainContent h3{
        font-size:0.8rem;
      }
    #mainContent h1 {
      font-size:1.8rem;
    }
    #mainContent h2{
        font-size:1.2rem;
      }
  
  #subContent{
      font-size:0.36rem;
      border-bottom: 1px solid white;

    }
    article > .projects > .projectContainer > a > p {
      font-size: 0.5rem;
    }
 /*ARTICLE CONTENT END*/
}

